/* Center the container horizontally and add spacing from the top */
.container {
  display: flex;
  justify-content: center;
  margin-top: 152px; /* Adjust as needed */
}

/* Style for the card */
.card {
  width: 320px;
  height: 497px;
  border-radius: 20px;
  background: var(--White, #fff);
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
}

/* Style for the QR code image */
.qr {
  display: block;
  max-width: 288px;
  max-height: 288px;
  flex-shrink: 0;
  margin: 16px auto; /* Center the image horizontally and add spacing around it */
  border-radius: 10px;
}

/* Style for the card content */
.card-content {
  margin: 24px 16px;
  font-feature-settings: "clig" off, "liga" off;
}

/* Style for the card title */
.card-title {
  color: var(--Dark-Navy, #1f314f);
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}

/* Style for the card description */
.card-desc {
  text-align: center;
  width: 256px;
  color: var(--Grey, #7d889e);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.188px;
  margin: auto; /* Center the description horizontally */
}
